fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
qdrant-client
redis
python-multipart 
pypdf
pydantic
pydantic-settings 
python-dotenv
rank-bm25
nltk
llama-cpp-python
sentence-transformers
transformers
google-genai
pydantic[email]